# DEBUG=1                            # mostrar logs de depuración
# EPG_THREADS=4                      # número de hilos para descargar la epg
# HOME=/home                         # directorio donde quedará guardada la caché de tv_grab_es_movistartv
# IPTV_BW=85000                      # máximo ancho de banda (en kbps) permitido para el total de clientes, la vlan de iptv de Movistar tiene un tope de 100000 kbps
# IPTV_IFACE=eth0.2                  # interface de red en el que esperamos recibir la IPTV y sobre el que podemos querer aplicar el ancho de banda dinámico
# LAN_IP=192.168.1.10                # ip donde queremos tener el proxy funcionando
# MP4_OUTPUT=1                       # hacer grabaciones a fichero .mp4 y .sub por separado
# NOSUBS=1                           # no grabar subtítulos, puede ser útil tanto si no los queremos como con emisiones con subtítulos de teletexto
# RECORDING_THREADS=4                # número de grabaciones simultáneas
# RECORDINGS=/mnt/recordings         # directorio para grabaciones, si se establece se activará la comprobación periódica de timers.conf
# SANIC_PORT=8888                    # puerto en el que el proxy será accesible
# SANIC_THREADS=4                    # número de procesos simultáneos de movistar_u7d.py
# U7D_UID=nobody                     # usuario con el que ejecutar los microservicios y para las grabaciones y cachés
# VSERBOSE_LOGS=0                    # no mostrar la url a la que se accede en los logs
