# U7D_UID=nobody                     # UID para ejecutar los backends y para las grabaciones y caches
# HOME=/home                         # directorio donde quedará guardada la caché de tv_grab_es_movistartv
# IPTV_ADDRESS=                      # ip de la vlan2 de movistar, la de iptv
# LAN_IP=                            # ip donde queremos tener el proxy funcionando
# EPG_THREADS=3                      # número de hilos para la descarga de la epg
# MP4_OUTPUT=                        # hacer grabaciones a fichero .mp4 y .sub por separado
# PARALLEL_RECORDINGS=4              # número de grabaciones simultáneas
# RECORDIGS=/home/recordings         # directorio para grabaciones
# SANIC_PORT=8888                    # puerto del proxy
# SANIC_THREADS=3                    # número de hilos de ejecución de movistar_u7d.py

