[Unit]
Description=Movistar U7D - EPG State service
After=network.target

[Service]
Type=simple
# Environment=HOME=/home
# Environment=LAN_IP=192.168.1.10
# Environment=EPG_THREADS=4
# Environment=RECORDING_THREADS=4
# Environment=RECORDINGS=/mnt/recordings
# Environment=SANIC_PORT=8888
# Environment=U7D_UID=nobody
ExecStart=movistar_epg.py

[Install]
WantedBy=multi-user.target
