[Unit]
Description=Movistar U7D Flussonic TCP Proxy
After=network.target
Requires=movistar_epg.service

[Service]
Type=simple
# Environment=HOME=/home
# Environment=LAN_IP=192.168.1.10
# Environment=IPTV_BW=85000
# Environment=RECORDINGS=/mnt/recordings
# Environment=SANIC_PORT=8888
# Environment=SANIC_THREADS=4
# Environment=U7D_UID=nobody
ExecStart=movistar_u7d.py

[Install]
WantedBy=multi-user.target
