[Unit]
Description=Movistar U7D - EPG State service
After=network.target

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=movistar-u7d

Environment=PYTHONUNBUFFERED=1
# Environment=DEBUG=1
# Environment=EPG_THREADS=4
# Environment=HOME=/home
# Environment=IPTV_BW=85000
# Environment=IPTV_IFACE=eth0.2
# Environment=LAN_IP=192.168.1.10
# Environment=MP4_OUTPUT=1
# Environment=RECORDING_THREADS=4
# Environment=RECORDINGS=/mnt/recordings
# Environment=SANIC_PORT=8888

ExecStart=movistar_epg.py

[Install]
WantedBy=multi-user.target
