[Unit]
Description=Movistar U7D Flussonic TCP Proxy
After=network.target
Requires=movistar-epg.service

[Service]
Type=simple
# Environment=HOME=/home
# Environment=RECORDINGS=/tmp
# Environment=SANIC_HOST=0.0.0.0
# Environment=SANIC_PORT=8888
# Environment=SANIC_THREADS=3
ExecStart=movistar-u7d.py

[Install]
WantedBy=multi-user.target
