aiofiles
aiohttp
async-files
asyncio
asyncio-dgram
asyncstdlib
defusedxml
filelock
netifaces
psutil
sanic
sanic-prometheus @ git+https://github.com/AltanAlpay/sanic-prometheus
setuptools==80.8.0
setproctitle
tomli
ujson
xmltodict
