aiofiles
aiohttp
asyncio
asyncio-dgram @ git+https://github.com/jsbronder/asyncio-dgram
cx_Freeze>=6.16.0.dev25
defusedxml
filelock
psutil
sanic @ git+https://github.com/jmarcet/sanic@22.6LTS
sanic-prometheus @ git+https://github.com/jmarcet/sanic-prometheus
tomli
ujson
wmi
xmltodict
