aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
asyncio==3.4.3
asyncio-dgram @ git+https://github.com/jsbronder/asyncio-dgram@219632f2791d271f9777bcbe1dccc0da4ddee17b
attrs==23.2.0
defusedxml==0.7.1
filelock==3.13.3
frozenlist==1.4.1
httptools==0.6.1
idna==3.6
multidict==6.0.5
netifaces==0.11.0
prometheus_client==0.7.1
psutil==5.9.8
sanic @ git+https://github.com/jmarcet/sanic@044618d86a23a87df881fbd395e98ff9c462e00f
sanic-prometheus @ git+https://github.com/jmarcet/sanic-prometheus@45b48cdf438dd115a80e60b7adc80d8a4a868208
sanic-routing==22.3.0
setproctitle==1.3.3
setuptools==69.1.1
tomli==2.0.1
ujson==5.9.0
uvloop==0.19.0
websockets==10.4
xmltodict==0.13.0
yarl==1.9.4
