aiofiles
aiohttp
async-files
asyncio
asyncio-dgram
asyncstdlib
defusedxml
filelock
ifaddr
psutil
sanic @ git+https://github.com/jmarcet/sanic
sanic-prometheus @ git+https://github.com/AltanAlpay/sanic-prometheus
setuptools==80.8.0
setproctitle
tomli
tracerite<2.6
ujson
xmltodict
