# pip install --force --no-cache --pre --upgrade --extra-index-url https://marcelotduarte.github.io/packages/ cx_Freeze
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
asyncio==3.4.3
asyncio-dgram @ git+https://github.com/jsbronder/asyncio-dgram@219632f2791d271f9777bcbe1dccc0da4ddee17b
attrs==23.2.0
cx_Freeze==6.16.0.dev75
cx_Logging==3.2.0
defusedxml==0.7.1
filelock==3.13.3
frozenlist==1.4.1
html5tagger==1.3.0
httptools==0.6.1
idna==3.6
lief==0.14.1
multidict==6.0.5
prometheus-client==0.16.0
psutil==5.9.8
pywin32==306
sanic==23.12.1
sanic-prometheus @ git+https://github.com/AltanAlpay/sanic-prometheus@3c70ad646371ae05ed0b140dc320c67dcd6de8a8
sanic-routing==23.12.0
setuptools==69.2.0
tomli==2.0.1
tracerite==1.1.1
typing_extensions==4.11.0
ujson==5.9.0
websockets==12.0
WMI==1.5.1
xmltodict==0.13.0
yarl==1.9.4
