aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
async-files==0.4
asyncio==3.4.3
asyncio-dgram==2.2.0
asyncstdlib==3.13.0
attrs==25.1.0
cx_Freeze==7.2.10
cx_Logging==3.2.1
defusedxml==0.7.1
filelock==3.17.0
frozenlist==1.5.0
html5tagger==1.3.0
httptools==0.6.4
idna==3.10
lief==0.16.4
multidict==6.1.0
prometheus-client==0.16.0
propcache==0.3.0
psutil==7.0.0
pywin32==308
sanic==24.12.0
sanic-prometheus @ git+https://github.com/AltanAlpay/sanic-prometheus@278fbd7e5e7217310401b5b0378467131e8ef13c
sanic-routing==23.12.0
setuptools==78.1.1
tomli==2.2.1
tracerite==1.1.1
typing_extensions==4.12.2
ujson==5.10.0
uvloop==0.21.0
websockets==15.0
xmltodict==0.14.2
yarl==1.18.3
