aiofiles
aiohttp
asyncio
asyncio_dgram
cx_Freeze>=6.16.0.dev9
defusedxml
filelock
psutil
git+https://github.com/jmarcet/sanic@22.6LTS
git+https://github.com/jmarcet/sanic-prometheus
tomli
ujson
wmi
xmltodict
