aiofiles
aiohttp
async-files
asyncio
asyncio-dgram
asyncstdlib
cx_Freeze
defusedxml
filelock
psutil
sanic
sanic-prometheus @ git+https://github.com/AltanAlpay/sanic-prometheus
tomli
ujson
wmi
xmltodict
