aiofiles==25.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
async-files==0.4
asyncio==4.0.0
asyncio-dgram==3.0.0
asyncstdlib==3.14.0
attrs==26.1.0
cabarchive==0.2.5
cx-freeze==8.6.4
defusedxml==0.7.1
filelock==3.32.3
freeze-core==0.7.1
frozenlist==1.8.0
html5tagger==2.0.0
httptools==0.8.0
idna==3.19
lief==0.17.6
multidict==6.7.1
packaging==26.3
prometheus-client==0.24.1
propcache==0.5.2
psutil==7.2.2
python-msilib==0.7.0
pywin32==312
sanic==25.12.1
sanic-prometheus @ git+https://github.com/AltanAlpay/sanic-prometheus@966b60c4e71a8851b050fdf86c19776610fd205d
sanic-routing==23.12.0
setuptools==80.8.0
striprtf==0.0.33
tomli==2.4.1
tracerite==2.5.2
typing-extensions==4.16.0
ujson==5.13.0
websockets==17.0.1
wmi==1.5.1
xmltodict==1.0.4
yarl==1.24.5
